{{!-- Everything written here will be on screen through layout(main.hadlebars) --}}
<!-- Below title is from app.js -->

<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Put your ideas here for your upcoming youtube videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg"> Add video idea </a>
</div>